@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

html {
	scroll-behavior: smooth;
}

.ham-menu {
	height: 25px;
	width: 25px;
	margin-left: auto;
	position: relative;
}

.ham-menu span {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease, top 0.3s ease;
}

.ham-menu span:nth-child(1) {
	top: 25%;
}

.ham-menu span:nth-child(2) {
	top: 75%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
	top: 40%;
	transform: translate(-50%, 50%) rotate(-45deg);
}

/* footer modules */
.footer-background {
	background-image: url("/assets/img/footer-bg.webp");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

.coming-sonn-footer-background {
	background-image: url("/assets/img/footer-bg.webp");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}

.hover-trigger:hover .hover-trigger-element {
	transform: rotate(90deg);
}

@media (max-width: 768px) {
	.hover-trigger:hover .hover-trigger-element {
		transform: rotate(25deg);
	}
}
